*{margin: 0;
padding: 0;}/*一定要设置，不然后面会有错误。*/ 
body{
    color: #3C3C3C;
    -webkit-font-smoothing: antialiased;/*这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服。none用于小像素的文本 | subpixel-antialiased浏览器默认的 | antialiased反锯齿*/
    background-color: #f4f4f4;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
div{
    display: block;
}
.site-nav{
    z-index: 10000;/*层在屏幕的纵深方向，上一层遮住下一层*/
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.site-nav .site-nav-bd{
    margin: 0 auto;
    width: 1190px;
    height: 35px;
    background: #f5f5f5;
}
.site-nav .site-nav-bd .site-nav-bd-l{
    float: left;
}
.site-nav .site-nav-menu{
   float: left;
}
ul{
    list-style: none;
    display: block;
    /*-webkit-margin-before:1em 是元素上边距数值为1倍字体高度 即字体高为10px的话，上边距就为10px -webkit是浏览器内核 -webkit-margin-before是用于内核为-webkit的浏览器的*/
}
li{
    display: inline;/*li display:inline 或block加float: left实现ul横向排列。 如果需要让li具有高度和宽度，并且需要调节菜单内容的位置，必须将display属性值设置为block，将其变成块级元素后，padding,text-align等属性才起作用。*/
    text-align: -webkit-match-parent;/*文本对齐的方式：匹配父类盒子对齐的方式*/
}
.site-nav .site-nav-menu .site-nav-menu-hd{
    z-index: 10002;
    position: relative;
    left: 0;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;/*用与height相同来垂直居中*/
}
.site-nav .site-nav-menu .site-nav-region{
    float: left;
    margin-right: 7px;
}
.site-nav .site-nav-arrow{
    display: block;
    float: left;
    width: 12px;
    height: 6px;
    line-height: 6px;
    overflow: hidden;
    margin-top: 16px;
}
.site-nav .site-nav-icon{
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    color: #9c9c9c;
}
.site-nav .site-nav-arrow .site-nav-icon{
    display: block;
    margin-top: -4px;
    margin-right: 20px;
}
a{
    color: #3C3C3C;
    cursor: pointer;
    text-decoration: none;
}
.site-nav .site-nav-menu .site-nav-menu-hd a{/*定位要非常精确*/
    float: left;
    margin-right: 7px;
    color: #6c6c6c;
}
.site-nav .site-nav-bd .h{
    color: #f22e00 !important;
}
.site-nav .site-nav-bd .site-nav-bd-r{
    float: right;
}
.site-nav .site-nav-menu .site-nav-menu-hd a span{
    float: left;
    cursor: pointer;
}
.site-nav .site-nav-bd-r .site-nav-icon{
    width: 12px;
}
.site-nav .icon-cart{
    color: #f40;
}  
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe{
    float: left;
    height: 35px;
    line-height: 35px;
}
.site-nav .site-nav-bd .site-nav-pipe{
    padding: 0 5px;
    font-style: normal;
    color: #ddd;
}
.site-nav .icon-list{
    color: #f40;
    font-size: 13px!important;
}

.top{
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 7px 0;
    background-color: #fff;
    margin-top: 36px;
}
.top-main{
    width: 1190px;
    margin: 0 auto;
    position: relative;/*相对定位，对象遵循正常文档流，但将依据top，right，bottom，left等属性在正常文档流中偏移位置。位置属性被设置为relative之后，是相对于前面的容器定位的。这个时候不能用top left在定位。应该用margin。它可以随窗口大小变化。但大小仍然不会变。要是你设置成width:100%;height:100%;这样就会随着窗口变大变小。 */
}
.tb-logo{
    float: left;
    width: 190px;
}
.logo{
    height: 33px;
    background-position: 0 -80px;
    width: 100px;
    margin-top: 0;
}
.tb-logo .logo a{/*这里的方法是设置高为0，使框内整个空白，把图片作为背景插入，padding-top其实是图片的高。*/
    display: block;
    padding-top: 33px;
    width: 80px;
    height: 0;
    overflow: hidden;
    text-indent: -9999px;/*文本缩进，负值缩进到左边*/
    background: url(https://img.alicdn.com/tfs/TB1TGfMcwMPMeJjy1XbXXcwxVXa-80-33.png) no-repeat;
}
.tb-search{
    margin-left: 258px;
    margin-right: 302px;
    margin-top: -24px;
}
.search-main{
    position: relative;
}
.search-bd{
    z-index: 30px;/*z-index属性适用于定位元素(position属性值为 relative 或 absolute 或 fixed的对象)，用来确定定位元素在垂直于显示屏方向(称为Z轴)上的层叠顺序(stack order)。*/
    position: relative;
    height: 40px;
    margin-top: 22px;
}
.tb-search .search{
    position: relative;
}
.search-bd .search .search-button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-bd .search .search-button .btn-search{
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
}
.search-bd .search .search-input{
    margin-right: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
}
.search-bd .search .goods{
    display: inline-block;
    height: 36px;
    width: 72px;
    margin-right: 554px;
    overflow: hidden;
    background-color: #f4f4f4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-bd .search .goods .goods-main{
    margin: 8px auto 5px 24px;
    width: 60px;
}
.search-bd .search .goods span{
    float: left;
    font-weight: 500;
    margin-right: 5px;
}
.search-bd .search .goods .arrow{
    display: block;
    width: 6px;
    height: 3px;
    line-height: 5px;
    overflow: hidden;
    position: absolute;
    top: 19px;
    left: 58px;
}
.search-bd .search .goods .icon{
    margin-left: -3px;
    margin-top: -1px;
    font-size: 1px;
    color: #9c9c9c;
}
.search-bd .search .search-input .box{
    position: absolute;
    left: 106px;
    top: 2px;
    height: 36px;
    overflow: hidden;
    width: 420px;
    vertical-align: middle;
}
.search-bd .search .search-input input{
    margin-top: 3px;
    padding: 6px 0;
    width: 410px;
    height: 20px;
    line-height: 20px;
    border: none;
    outline: 0;/*outline(轮廓)是绘制在元素周围的一条线，位于边框边缘的外围，起突出元素的作用。轮廓线不会占用空间，也不一定是矩形*/
    background: #fff;
}
.search-bd .search .search-input .camera-icon{
    position: absolute;
    top: 2px;
    right: 90px;
    height: 36px;
}
.search-bd .search .search-input .camera-icon span{
    font-size: 24px;
    color: #999;
    display: inline-block;
    cursor: pointer;
}
.search-bd .search .search-input i{
    font-size: 18px;
    position: absolute;
    top: 6px;
    left: 84px;
    color: #666;
}
.body{
    width: 1190px;
    margin: 0 auto;
}
.body-top{
    margin-top: 64px;
}
.body-main{
    min-height: 0;
    background-color: #fff;
}
.tb-sale{
    width: 1190px;
    clear: both;
    min-height: 962px;
    overflow: hidden;
}
.tb-sale h3{
    position: relative;
    height: 22px;
    line-height: 22px;
    margin: 17px 18px;
    font-size: 20px;
    color: #ff242d;
}
.tb-sale h3::before{
    content: "";
    position: relative;
    float: left;
    top: 2px;
    width: 4px;
    height: 16px;
    background: #ff242d;
    background: linear-gradient(to bottom, #ff7436, #ff0000);/*线性渐变*/
    margin-right: 7px;
}
.tb-sale .sale-hd{
    padding: 0 0 13px 18px;
    overflow: hidden;
    position: relative;
}
.tb-sale .sale-hd .sale-hd-item{
    float: left;
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    max-width: 1110px;
}
.tb-sale .sale-hd .sale-hd-item a{
    display: block;
    float: left;
    margin-bottom: 10px;
    padding-right: 15px;
    color: #999;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}
.tb-sale .sale-hd .ad{
    width: 32px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 0;
}
.tb-sale .sale-bd{
    height: 703px;
    margin-left: 1px;
}
.tb-sale .sale-bd .item:hover{
    border: 1px solid #ff5000;
    z-index: 1;
}
.tb-sale .sale-bd .item{
    float: left;
    width: 196.8px;
    position: relative;
    padding: 20px;
    border: 1px solid #f4f4f4;
    margin: -1px 0 0 -1px;
}
.tb-sale .image{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    position: relative;
}
.tb-sale .image img{
    border: 0;
    width: 197px;
    height: 197px;
}
.tb-sale .line-1{
    display: block;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 8px 0;
    color: #666;
    font-size: 14px;
}
.tb-sale .line-2{
    height: 18px;
    margin-bottom: 17px;
}
.tb-sale .comment, .tb-sale .collect{
    color: #999;
    float: left;
    margin-right: 10px;
}
.tb-sale .line-3{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.tb-sale .line-3 .now{
    color: #ff5000;
    margin-right: 3px;
}
.tb-sale .now .normal{
    font-size: 22px;
    margin-left: 2px;
}
.tb-sale .before{
    color: #999;
    font-family: arial;
    text-decoration: line-through;
}
.tb-sale .sell{
    color: #999;
    float: right;
    display: block;
    margin-top: 3px;
}
.tb-sale .postfree{
    height: 16px;
    position: relative;
    width: 28px;
    display: inline-block;
    top: 3px;
    margin-right: 5px;
}
.tb_Sale .sale-bd .item-1{
    border-left: 1px solid #fff;
}
.tb_Sale .sale-bd .item-5{
    border-right: 1px solid #fff;
}
.fixedtool{
    position: fixed;
    top: 110px;
    display: block;
    transition: none;
    margin-right: -633px;
    z-index: 4;
    right: 50%;
    width: 50px;
    text-align: center;
}
.fixedtool .icon-wangwang{
    position: absolute;/*postion:absolute 跳出文本流，不是行内元素，设置宽高有效，我的理解。ostion属性一共有4个值，分别为static，absolute，relative和fixed。（1）       static为默认值，它表示块保持在原本应该在的位置上，即改值没有任何移动的效果。（2）       当子块的postion值设为absolute时，子块已经不再从属于父块。注：top，right，bottom和left这4个css属性，他们都是配合position属性使用的，不但可以设置为绝对像素，也可以设置为表分数，表示块的各个边界离页面边框（postion=absolute）的距离，或者各个边界离原来位置（postion=relative）的距离。只有当postion属性设置为absolute或者relative时才能生效。如果设置为static，则子块不会有任何变化。（3）块的postion设置为relative时，与将其设置为absolute时完全不同。这时子块是相对于其父块来进行定位的，同样配合top，right，bottom和left这4个属性来使用的。*/
    height: 36px;
    width: 50px;
    line-height: 36px;
    text-align: center;
    font-size: 32px;
    color: #ff7f13;
    top: -20px;
    right: 0
}
.fixedtool-1{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-clip: padding-box;/*背景剪裁属性是从指定位置开始绘制。*/
    color: #f40;
    padding-top: 10px;
    height: 40px;
}
.fixedtool a{
    line-height: 17px;
    font-size: 13px;
    height: 44px;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 6px 8px 0;
    background: #fff;
}
.fixedtool a::after{
    content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: -1px;
    z-index: 1;
}
.fixedtool-2{
    color:#f05;
}
.fixedtool-3{
    color: #8d7afb;
}
.fixedtool-4{
    color: #A8C001;
}
.fixedtool a:hover{
    z-index: 2;
    text-decoration: none;
    color: #FFF;
    background-repeat: no-repeat;
    font-weight: 700;
    background-repeat: repeat-x;
    background-image: linear-gradient(135deg,#ff971b,#ff5000);
}
.fixedtool-5{
    color: #F40;
}
.icon-fanhuidingbu-{
    color: #999;
    position: relative;
    line-height: 20px;
    display: block;
}
.fixedtool-6, .fixedtool-7, .fixedtool-8{
    font-size: 12px;
}
.fixedtool-7 span{
    line-height: 40px;
}
.fixedtool-8{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-clip: padding-box;
}









